/*
-----------------------------------------------------------------------------
Бокове меню
-----------------------------------------------------------------------------
*/

/*бокове меню*/
.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 250px;
  height: 100%;
  background-color: #1e1e1e;
  padding: 20px;
  transition: 0.3s;
}

/*активація боковго меню*/
.sidebar.active {
  right: 0;
}

/*кнопки бокового меню*/
.sidebar a {
  color: #bdbdbd;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 8px 15px;
  width: 220px;
  background-color: #333;
  color: #bdbdbd;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

/*анімація кнопки бокового меню*/
.sidebar a:hover {
  background-color: #555;
  transform: scale(1.03);
  transition: 0.6s;
}

/*кнопка меню при закритому меню*/
.toggle_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  padding: 12px 15px;
  background-color: #dbdbdbbd;
  color: #333;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

/*кнопка меню після відкриття меню*/
.sidebar.active+.toggle_btn {
  right: 300px;
}

/*
-----------------------------------------------------------------------------
Головна секція
-----------------------------------------------------------------------------
*/
/* розміри головна секція головної сторінки*/
#main_section {
  min-width: 100hv;
  min-height: 100hv;
}

/*логотип на головній сторінці*/
#logo_main_page {
  color: #f0f0f0f0;
  font-family: "Comic Sans MS", cursive;
  cursor: default;
  text-shadow: 2px 2px 0px #30303080;
  font-size: 60px;
  margin-bottom: 20px;
}

/*фон головної сторінки*/
#main_section {
  height: 100vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/IMG_20260218_193413.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/*
-----------------------------------------------------------------------------
Початок роботи
-----------------------------------------------------------------------------
*/
/*загальні налаштування секції*/
#get_start {
  min-height: 50vh;
  padding: 40px 20px;
  background-color: #181818;
}

/*налаштування таблиці*/
#get_start table {
  width: 100%;
  border-spacing: 20px;
}

/*налаштування комірок*/
#get_start td {
  width: 50%;
  vertical-align: top;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
}

/*заголовки над комірками таблиці*/
#get_start h3 {
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 30px;
}

/*зміна вигляду нумерованого списку*/
#get_start ol {
  color: #bdbdbd;
  padding-left: 20px;
}

/*зміна вигляду пунктів списку*/
#get_start li {
  margin-bottom: 8px;
}

/*вигляд кнопок у списку*/
#get_start button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #333;
  color: #bdbdbd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

/*зміна кнопки при наведенні курсора*/
#get_start button:hover {
  background-color: #555;
  transform: scale(1.03);
}

/*
-----------------------------------------------------------------------------
Приклад фотографій
-----------------------------------------------------------------------------
*/
/*загальні налаштування секції*/
#ex {
  min-height: 150vh;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  background-color: #121212;
}

/*налаштування таблиці*/
#ex table {
  margin: 0 auto;
  width: 100%;
  border-spacing: 20px;
}

/*нлаштування рядків таблиці*/
#ex tr {
  margin: 50px 0px;
  display: flex;
  gap: 20px;
}

/*налаштування комірок таблиці*/
#ex td {
  width: 50%;
  vertical-align: top;
  flex: 1;
}

/*налаштування карток у таблиці*/
.article_img {
  height: 100%;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  transition: 0.6s;
}

/*налаштування заголовка у картках*/
.article_img h2 {
  color: #bdbdbd;
  text-align: center;
  margin-bottom: 10px;
}

/*налаштування картинок у картках*/
.article_img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

/*нумерований список у картці*/
.article_img ol {
  color: #bdbdbd;
  padding-left: 20px;
}

/*маркований список у нумерованому списку у картці*/
.article_img ul {
  margin: 5px 0 10px 15px;
  padding-left: 15px;
  list-style-type: circle;
}

/*пункти списку у картці*/
.article_img li {
  margin-bottom: 5px;
}

/*елементи нумерованого списку у картці*/
.article_img ol>li {
  font-weight: bold;
  margin-top: 10px;
}

/*поверненя нормального виду елементам ненумерованих списків*/
.article_img ul li {
  font-weight: normal;
  color: #bdbdbd;
}